.intro {
    position: relative;
}

.content {
    position: relative;
    padding-top: 160px;
    padding-bottom: 180px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 608px;
    margin: auto;
    color: white;
}

.title {
    font: var(--font-Roboto-Slab-60-regular);
    text-shadow: 1px 2px 14px rgb(34 60 80 / 35%);
}

.subtitle {
    font: var(--font-Roboto-18-regular);
    margin-top: 32px;
    text-shadow: 1px 2px 14px rgb(34 60 80 / 35%);
}

.videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.videoContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    animation: opacity 2s ease 1s forwards;
}

.videoContainer video {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .content {
        max-width: 450px;
        padding-top: 104px;
        padding-bottom: 90px;
    }
    .title {
        font: var(--font-Roboto-Slab-36-regular);
        max-width: 385px;
    }
    .subtitle {
        margin-top: 16px;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.2;
    }
}
