.container {
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
/* BUTTONS */
.button-active-effect {
  transition: transform 0.1s cubic-bezier(0, 0, 0.78, 1.41),
    box-shadow 0.1s cubic-bezier(0, 0, 0.78, 1.41);
}
.button-active-effect:active {
  transform: scale(0.98);
  box-shadow: -2px 2px 5px rgb(0 0 0 / 20%);
}
