/* VARIABLES */
:root {
    --header-height-mobile: 56px;
    --header-height-tablet: 66px;
    --header-height-desktop: 80px;

    --header-scroll-height-mobile: 40px;
    --header-scroll-height-tablet: 50px;
    --header-scroll-height-desktop: 64px;

    --container-max-width: 1250px;
}

/* Z-INDEX */
:root {
    --z-index-s: 10;
    --z-index-m: 100;
    --z-index-l: 500;
    --z-index-xl: 1000;
    --z-index-xxl: 2000;

    --z-index-overlay: 1999;
    --z-index-popup: 2000;
}

/* TRANSITION */
:root {
    --transition-duration-100: 0.1s;
    --transition-duration-200: 0.2s;
    --transition-duration-300: 0.3s;
    --transition-duration-400: 0.4s;
    --transition-duration-500: 0.5s;
}

/* COLORS */
:root {
    --color-main-blue: #2f71e5;
    --color-main-primary: #1a1b22;
    --color-gray-light: #f5f6f7;
    --color-gray-easy: rgba(26, 27, 34, 0.5);
    --color-simulator-gray-selected: #e6e8eb;
    --color-simulator-gray-text: #b6bcbf;
    --color-simulator-gray-text-light: #dde0e2;
    --color-mern-node-js: #9bc147;
    --color-mern-react: #286091;
    --color-mern-express: #cd786e;
    --color-mern-mongodb: #399e45;
    --color-error: #ff0000;
}

/* COLORS INTERACTIVE */
:root {
    --color-button-hover-blue: #347eff;
    --color-button-active-blue: #2a65cc;
}

:root[data-theme-header='light'] {
    --color-header-text: #1a1b22;
    --color-header-link: #1a1b22;
    --color-header-button: #1a1b22;
    --color-header-bg: #ffffff;
    --color-header-line: #000000;
    --color-header-logo: #000000;
}

:root[data-theme-header='dark'] {
    --color-header-text: #ffffff;
    --color-header-link: #ffffff;
    --color-header-button: #ffffff;
    --color-header-bg: rgb(136 148 157 / 53%);
    --color-header-line: rgba(255, 255, 255, 0.3);
    --color-header-logo: #ffffff;
}

:root[data-theme='light'] {
    --color-main-blue: #2f71e5;
    --color-main-primary: #1a1b22;
    --color-gray-light: #f5f6f7;
    --color-gray-easy: rgba(26, 27, 34, 0.5);
    --color-simulator-gray-selected: #e6e8eb;
    --color-simulator-gray-text: #b6bcbf;
    --color-simulator-gray-text-light: #dde0e2;
    --color-mern-node-js: #9bc147;
    --color-mern-react: #286091;
    --color-mern-express: #cd786e;
    --color-mern-mongodb: #399e45;
    --color-error: #ff0000;
}

:root[data-theme='dark'] {
    --background-color: #2b3e51;
}

/* BORDERS */
:root {
    --border-radius-6: 6px;
    --border-radius-10: 10px;
    --border-radius-16: 16px;
    --border-radius-20: 20px;
    --border-radius-80: 80px;
    --border-radius-100: 100px;
}

/* FONTS */
:root {
    --font-Roboto-10-normal: 500 10px/12px Roboto, Text, sans-serif;
    --font-Roboto-12-normal: 500 12px/14px Roboto, Text, sans-serif;
    --font-Roboto-14-normal: 500 14px/24px Roboto, Text, sans-serif;
    --font-Roboto-16-normal: 500 16px/24px Roboto, Text, sans-serif;
    --font-Roboto-16-regular: 400 16px/22px Roboto, Text, sans-serif;
    --font-Roboto-18-normal: 500 18px/24px Roboto, Text, sans-serif;
    --font-Roboto-18-regular: 400 18px/24px Roboto, Text, sans-serif;
    --font-Roboto-24-black: 900 24px/28px Roboto, Text, sans-serif;

    --font-Roboto-Slab-16-bold: 700 16px/20px 'Roboto Slab', Text, sans-serif;
    --font-Roboto-Slab-20-bold: 700 20px/24px 'Roboto Slab', Text, sans-serif;
    --font-Roboto-Slab-20-normal: 500 20px/24px 'Roboto Slab', Text, sans-serif;
    --font-Roboto-Slab-22-regular: 400 22px/24px 'Roboto Slab', Text, sans-serif;
    --font-Roboto-Slab-26-regular: 400 26px/30px 'Roboto Slab', Text, sans-serif;
    --font-Roboto-Slab-30-regular: 400 30px/34px 'Roboto Slab', Text, sans-serif;
    --font-Roboto-Slab-36-regular: 400 36px/40px 'Roboto Slab', Text, sans-serif;
    --font-Roboto-Slab-40-regular: 400 40px/46px 'Roboto Slab', Text, sans-serif;
    --font-Roboto-Slab-60-regular: 400 60px/64px 'Roboto Slab', Text, sans-serif;

    --font-Inter-12-regular: 400 12px/15px Inter, Text, sans-serif;
    --font-Inter-14-regular: 400 14px/17px Inter, Text, sans-serif;
    --font-Inter-18-regular: 400 18px/22px Inter, Text, sans-serif;

    --font-Source-Sans-Pro-18-regular: 400 18px/24px 'Source Sans Pro', Text,
        sans-serif;
}
