.button {
    padding: 20px;
    font: var(--font-Roboto-18-regular);
    transition: var(--transition-duration-300) ease-in-out;
    border-radius: var(--border-radius-100);
}
.primary {
    background-color: var(--color-main-blue);
    color: white;
}
.primary[disabled] {
    color: var(--color-simulator-gray-text);
    background-color: var(--color-simulator-gray-selected);
    pointer-events: none;
}
.primary:active {
    background-color: var(--color-button-active-blue);
}

.secondary {
    background-color: white;
    color: var(--color-main-primary);
}

.secondary[disabled] {
    color: var(--color-simulator-gray-text);
    background-color: var(--color-simulator-gray-selected);
    pointer-events: none;
}
@media (any-hover: hover) {
    .primary:hover {
        background-color: var(--color-button-hover-blue);
    }
    .secondary:hover {
        opacity: 0.9;
    }
}
