.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height-desktop);
    color: var(--color-header-text);
}

.wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    height: var(--header-height-desktop);
    z-index: var(--z-index-xxl);
    transition: height var(--transition-duration-300) ease-in-out;
}

.headerScroll {
    height: var(--header-scroll-height-desktop);
    backdrop-filter: blur(10px);
}

.wrapper::before,
.wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wrapper::after {
    border-bottom: 1px solid var(--color-header-line);
}
.wrapper::before {
    background-color: var(--color-header-bg);
    z-index: -1;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    font: var(--font-Roboto-Slab-20-normal);
    z-index: var(--z-index-m);
    color: var(--color-header-logo);
}
.logoInverse {
    color: #fff;
}

.overlay {
    display: none;
}

@media screen and (max-width: 767px) {
    .wrapper {
        height: var(--header-height-tablet);
    }
    .headerScroll {
        height: var(--header-scroll-height-tablet);
    }
}

@media screen and (max-width: 583px) {
    .wrapper {
        height: var(--header-height-mobile);
    }
    .headerScroll {
        height: var(--header-scroll-height-mobile);
    }

    .overlay {
        display: block;
        pointer-events: none;
        opacity: 0;
        z-index: -1;
        transition: 0.3s;
    }
    .overlayActive {
        composes: overlay;
        pointer-events: auto;
        opacity: 1;
    }
}
