.form {
    width: 360px;
    max-width: 100%;
}
.legend {
    font: var(--font-Roboto-24-black);
    margin-bottom: 22px;
}
.error {
    font: var(--font-Inter-12-regular);
    color: var(--color-error);
    margin-top: 3px;
    min-height: 15px;
    text-align: center;
}
.button {
    margin-top: 40px;
    width: 100%;
}
.footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.text {
    font: var(--font-Inter-12-regular);
}
.changeFormButton {
    font: var(--font-Inter-12-regular);
    color: var(--color-main-blue);
}
