.continaer {
  width: 360px;
  max-width: 100%;
}
.title {
  font: var(--font-Roboto-24-black);
  margin-bottom: 22px;
}

.changeFormButton {
  font: var(--font-Inter-12-regular);
  color: var(--color-main-blue);
}
